# Pandas Group By Function
- pandas group by function use to split the data into group based on some criteria

In [5]:
import numpy as np
import pandas as pd

In [9]:
data=pd.read_csv('D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv')
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9,6,9,8,10,10.0,46.0,35,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

# Parameters:

# By:
    -Ye value ko break krta hai or object return krata ha.. or har value
    ki index ka pata chal jata hai

In [28]:
by=data.groupby(by="Mid")  # object bn gye

In [29]:
by.groups

{'11': Int64Index([47], dtype='int64'),
 '14': Int64Index([3], dtype='int64'),
 '16': Int64Index([18], dtype='int64'),
 '17': Int64Index([1, 29], dtype='int64'),
 '18': Int64Index([2, 15], dtype='int64'),
 '19': Int64Index([8], dtype='int64'),
 '20': Int64Index([17, 21, 22, 33, 35, 41], dtype='int64'),
 '21': Int64Index([14], dtype='int64'),
 '22': Int64Index([28], dtype='int64'),
 '23': Int64Index([12, 16, 30], dtype='int64'),
 '24': Int64Index([13, 20], dtype='int64'),
 '25': Int64Index([5, 34, 36, 44, 46], dtype='int64'),
 '26': Int64Index([7, 23, 25], dtype='int64'),
 '27': Int64Index([4, 19, 26, 27, 31, 37, 40, 45], dtype='int64'),
 '28': Int64Index([6, 9, 11, 24, 39, 42, 43], dtype='int64'),
 '30': Int64Index([10], dtype='int64'),
 '9': Int64Index([32, 38], dtype='int64'),
 'not avalible': Int64Index([0], dtype='int64')}

In [32]:
by1=data.groupby(by="Degree")

In [33]:
by1.groups

{'BS(CS)': Int64Index([ 0,  1,  2,  3,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
             18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
             35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47],
            dtype='int64')}

In [36]:
by2=data.groupby(by="Student_Name")

In [37]:
by2.groups

{'#NAME?': Int64Index([40], dtype='int64'),
 'Abdul Basit': Int64Index([0], dtype='int64'),
 'Adeel Ahmed': Int64Index([1], dtype='int64'),
 'Afrah Zareen': Int64Index([2], dtype='int64'),
 'Ahmed Ali Raza': Int64Index([3], dtype='int64'),
 'Ahsan Ali Vohra': Int64Index([4], dtype='int64'),
 'Ameer Hamza': Int64Index([5], dtype='int64'),
 'Anas Ali Khan': Int64Index([6], dtype='int64'),
 'Aneebullah Niazi': Int64Index([7], dtype='int64'),
 'Areesha Sohail': Int64Index([8], dtype='int64'),
 'Arsalan': Int64Index([9], dtype='int64'),
 'Fatima Haider Warsi': Int64Index([10], dtype='int64'),
 'Habib Ullah': Int64Index([11], dtype='int64'),
 'Hafiza Tooba Akbani': Int64Index([12], dtype='int64'),
 'Hamza Abdul Jabbar': Int64Index([13], dtype='int64'),
 'Hareem Afshan': Int64Index([14], dtype='int64'),
 'Haseeb Sajid': Int64Index([15], dtype='int64'),
 'Hassam Ahmed': Int64Index([16], dtype='int64'),
 'Khalid Anwer': Int64Index([17], dtype='int64'),
 'Madiha Jabeen': Int64Index([18], dtype='int64'),
 'Mohammad Hunain': Int64Index([19], dtype='int64'),
 'Muhammad Aamir': Int64Index([20], dtype='int64'),
 'Muhammad Abdul Rehman Siddiqui': Int64Index([21], dtype='int64'),
 'Muhammad Abdullah': Int64Index([22], dtype='int64'),
 'Muhammad Ali Iqbal': Int64Index([23], dtype='int64'),
 'Muhammad Bilal': Int64Index([24], dtype='int64'),
 'Muhammad Faraz': Int64Index([25], dtype='int64'),
 'Muhammad Ghazali Faridi': Int64Index([26], dtype='int64'),
 'Muhammad Osama Khan': Int64Index([27], dtype='int64'),
 'Muhammad Saqib Intizar': Int64Index([28], dtype='int64'),
 'Muhammad Shahroz Khurshid': Int64Index([29], dtype='int64'),
 'Muhammad Shozab': Int64Index([30], dtype='int64'),
 'Muhammad Taha Hasnain': Int64Index([31], dtype='int64'),
 'Muhammad Wajahat Khan': Int64Index([32], dtype='int64'),
 'Muhammad Younus Baig': Int64Index([33], dtype='int64'),
 'Nazeer Bin Zafar': Int64Index([34], dtype='int64'),
 'Rabi Ahmed': Int64Index([35], dtype='int64'),
 'Rida Nasim': Int64Index([36], dtype='int64'),
 'Sadaf Nosheen': Int64Index([37], dtype='int64'),
 'Sadaquat Rafique': Int64Index([38], dtype='int64'),
 'Sania Iqbal': Int64Index([39], dtype='int64'),
 'Shariqa Ahmad': Int64Index([41], dtype='int64'),
 'Sumbul Rehman': Int64Index([42], dtype='int64'),
 'Syed Faizan Uddin': Int64Index([43], dtype='int64'),
 'Syed Sohaib': Int64Index([44], dtype='int64'),
 'Syeda Sabika Raza': Int64Index([45], dtype='int64'),
 'Usman Khan': Int64Index([46], dtype='int64'),
 'Waqar Ahmed': Int64Index([47], dtype='int64')}

In [50]:
a=data.groupby(["Student_Name","Mid"])

In [51]:
a.groups

{('#NAME?', '27'): Int64Index([40], dtype='int64'),
 ('Abdul Basit', 'not avalible'): Int64Index([0], dtype='int64'),
 ('Adeel Ahmed', '17'): Int64Index([1], dtype='int64'),
 ('Afrah Zareen', '18'): Int64Index([2], dtype='int64'),
 ('Ahmed Ali Raza', '14'): Int64Index([3], dtype='int64'),
 ('Ahsan Ali Vohra', '27'): Int64Index([4], dtype='int64'),
 ('Ameer Hamza', '25'): Int64Index([5], dtype='int64'),
 ('Anas Ali Khan', '28'): Int64Index([6], dtype='int64'),
 ('Aneebullah Niazi', '26'): Int64Index([7], dtype='int64'),
 ('Areesha Sohail', '19'): Int64Index([8], dtype='int64'),
 ('Arsalan', '28'): Int64Index([9], dtype='int64'),
 ('Fatima Haider Warsi', '30'): Int64Index([10], dtype='int64'),
 ('Habib Ullah', '28'): Int64Index([11], dtype='int64'),
 ('Hafiza Tooba Akbani', '23'): Int64Index([12], dtype='int64'),
 ('Hamza Abdul Jabbar', '24'): Int64Index([13], dtype='int64'),
 ('Hareem Afshan', '21'): Int64Index([14], dtype='int64'),
 ('Haseeb Sajid', '18'): Int64Index([15], dtype='int64'),
 ('Hassam Ahmed', '23'): Int64Index([16], dtype='int64'),
 ('Khalid Anwer', '20'): Int64Index([17], dtype='int64'),
 ('Madiha Jabeen', '16'): Int64Index([18], dtype='int64'),
 ('Mohammad Hunain', '27'): Int64Index([19], dtype='int64'),
 ('Muhammad Aamir', '24'): Int64Index([20], dtype='int64'),
 ('Muhammad Abdul Rehman Siddiqui', '20'): Int64Index([21], dtype='int64'),
 ('Muhammad Abdullah', '20'): Int64Index([22], dtype='int64'),
 ('Muhammad Ali Iqbal', '26'): Int64Index([23], dtype='int64'),
 ('Muhammad Bilal', '28'): Int64Index([24], dtype='int64'),
 ('Muhammad Faraz', '26'): Int64Index([25], dtype='int64'),
 ('Muhammad Ghazali Faridi', '27'): Int64Index([26], dtype='int64'),
 ('Muhammad Osama Khan', '27'): Int64Index([27], dtype='int64'),
 ('Muhammad Saqib Intizar', '22'): Int64Index([28], dtype='int64'),
 ('Muhammad Shahroz Khurshid', '17'): Int64Index([29], dtype='int64'),
 ('Muhammad Shozab', '23'): Int64Index([30], dtype='int64'),
 ('Muhammad Taha Hasnain', '27'): Int64Index([31], dtype='int64'),
 ('Muhammad Wajahat Khan', '9'): Int64Index([32], dtype='int64'),
 ('Muhammad Younus Baig', '20'): Int64Index([33], dtype='int64'),
 ('Nazeer Bin Zafar', '25'): Int64Index([34], dtype='int64'),
 ('Rabi Ahmed', '20'): Int64Index([35], dtype='int64'),
 ('Rida Nasim', '25'): Int64Index([36], dtype='int64'),
 ('Sadaf Nosheen', '27'): Int64Index([37], dtype='int64'),
 ('Sadaquat Rafique', '9'): Int64Index([38], dtype='int64'),
 ('Sania Iqbal', '28'): Int64Index([39], dtype='int64'),
 ('Shariqa Ahmad', '20'): Int64Index([41], dtype='int64'),
 ('Sumbul Rehman', '28'): Int64Index([42], dtype='int64'),
 ('Syed Faizan Uddin', '28'): Int64Index([43], dtype='int64'),
 ('Syed Sohaib', '25'): Int64Index([44], dtype='int64'),
 ('Syeda Sabika Raza', '27'): Int64Index([45], dtype='int64'),
 ('Usman Khan', '25'): Int64Index([46], dtype='int64'),
 ('Waqar Ahmed', '11'): Int64Index([47], dtype='int64')}

In [54]:
for i, j in a:
    print(i)
    print(j)

('#NAME?', '27')
     Student Code Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
40  022-14-110584    NaN       #NAME?  27      9      6               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
40            8           10                 10.0                  46.0

   Final_50  Total_100 Grade True_values False_values
40       35        NaN     A         yes           No
('Abdul Basit', 'not avalible')
   Student Code  Degree Student_Name           Mid Quiz 1 Quiz 2  \
0  022-14-19987  BS(CS)  Abdul Basit  not avalible      8   Null

  Best of Quizzes Assignment_1  Assignment 2  Best of Assignments  \
0               8            7  not avalible                  9.0

   Total Sessional (50) Final_50  Total_100 Grade True_values False_values
0                  45.0       25       70.0     B         yes           No
('Adeel Ahmed', '17')
    Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
1  022-14-110233  BS(CS)  Adeel Ahmed  17    NaN      5               5

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
1            8           10                 10.0                  32.0

  Final_50  Total_100 Grade True_values False_values
1       18       50.0     F         yes           No
('Afrah Zareen', '18')
    Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
2  022-14-110585  BS(CS)  Afrah Zareen  18   Null      2               5

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
2            8           10                 10.0                  33.0

  Final_50  Total_100 Grade True_values False_values
2       30       63.0     C         yes     avalible
('Ahmed Ali Raza', '14')
   Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
3  022-14-19718  BS(CS)  Ahmed Ali Raza  14      7      2               7

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
3          NaN            2                  2.0                  23.0

  Final_50  Total_100 Grade True_values False_values
3      NaN       46.0     F         yes           No
('Ahsan Ali Vohra', '27')
    Student Code Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
4  022-14-110648    NaN  Ahsan Ali Vohra  27      7      6               7

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
4            7            9                  9.0                  43.0

  Final_50  Total_100 Grade True_values False_values
4       34       77.0     B         yes           No
('Ameer Hamza', '25')
    Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
5  022-14-110232  BS(CS)  Ameer Hamza  25      9      6               9

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
5            8           10                 10.0                  44.0

  Final_50  Total_100 Grade True_values False_values
5       27       71.0     B         yes           No
('Anas Ali Khan', '28')
    Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
6  022-14-110588  BS(CS)  Anas Ali Khan  28      5      6            Null

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
6            8           10                 10.0                  44.0

  Final_50  Total_100 Grade True_values False_values
6       30       74.0     B         yes           No
('Aneebullah Niazi', '26')
    Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
7  022-14-110388  BS(CS)  Aneebullah Niazi  26      9      6               9

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
7            8           10                 10.0                  45.0

  Final_50  Total_100 Grade True_values False_values
7       40       85.0     A         yes           No
('Areesha Sohail', '19')
    Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
8  022-14-110601  BS(CS)  Areesha Sohail  19      9      4               9

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
8            7            9                  9.0                  37.0

  Final_50  Total_100 Grade True_values False_values
8     Null       61.0     C         yes           No
('Arsalan', '28')
    Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
9  022-14-110599  BS(CS)      Arsalan  28    NaN      6               8

  Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
9            8          NaN                  8.0                  44.0

  Final_50  Total_100 Grade True_values False_values
9       40       84.0     A         yes           No
('Fatima Haider Warsi', '30')
     Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
10  022-14-110214  BS(CS)  Fatima Haider Warsi  30      8      7

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
10               8            8          NaN                  8.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
10                  46.0       45       91.0     A         yes           No
('Habib Ullah', '28')
     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
11  022-14-110591  BS(CS)  Habib Ullah  28      8      5               8

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
11         Null          NaN                  NaN                  41.0

   Final_50  Total_100 Grade True_values False_values
11       35       76.0     B         yes           No
('Hafiza Tooba Akbani', '23')
     Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
12  022-15-110994  BS(CS)  Hafiza Tooba Akbani  23      7      5

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
12               7            8           10                 10.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
12                  40.0       33       73.0     B         yes           No
('Hamza Abdul Jabbar', '24')
     Student Code  Degree        Student_Name Mid Quiz 1 Quiz 2  \
13  022-14-110600  BS(CS)  Hamza Abdul Jabbar  24      8      4

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
13               8            8           10                 10.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
13                  42.0       25       67.0     C         yes           No
('Hareem Afshan', '21')
     Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
14  022-14-110389  BS(CS)  Hareem Afshan  21      7      4               7

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
14            6            8                  8.0                  36.0

   Final_50  Total_100 Grade True_values False_values
14       29       65.0     C         yes           No
('Haseeb Sajid', '18')
    Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
15  022-14-19916  BS(CS)  Haseeb Sajid  18    NaN    NaN               0

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
15          NaN        null                   0.0                  18.0

   Final_50  Total_100 Grade True_values False_values
15      NaN       18.0     F         yes           No
('Hassam Ahmed', '23')
     Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
16  022-14-110596  BS(CS)  Hassam Ahmed  23      5      5               5

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
16            7            9                  9.0                  37.0

   Final_50  Total_100 Grade True_values False_values
16       35       72.0     B         yes           No
('Khalid Anwer', '20')
     Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
17  022-14-110396  BS(CS)  Khalid Anwer  20      8      5               8

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
17            9           11                 11.0                  39.0

   Final_50  Total_100 Grade True_values False_values
17       31       70.0     B         yes           No
('Madiha Jabeen', '16')
     Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
18  022-14-110223  BS(CS)  Madiha Jabeen  16      5      2            Null

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
18          NaN           10                 10.0                  31.0

   Final_50  Total_100 Grade True_values False_values
18       29       60.0     C         yes           No
('Mohammad Hunain', '27')
     Student Code  Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
19  022-14-110222  BS(CS)  Mohammad Hunain  27      9      6               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
19            8           10                 10.0                  46.0

   Final_50  Total_100 Grade True_values False_values
19       45       91.0     A         yes           No
('Muhammad Aamir', '24')
     Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
20  022-14-110412  BS(CS)  Muhammad Aamir  24      7      6               7

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
20            7            9                  9.0                  40.0

   Final_50  Total_100 Grade True_values False_values
20       31       71.0     B         yes           No
('Muhammad Abdul Rehman Siddiqui', '20')
     Student Code  Degree                    Student_Name Mid Quiz 1 Quiz 2  \
21  022-14-110593  BS(CS)  Muhammad Abdul Rehman Siddiqui  20      9      6

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
21               9            9           11                 11.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
21                  40.0       20       60.0     C         yes           No
('Muhammad Abdullah', '20')
     Student Code  Degree       Student_Name Mid Quiz 1 Quiz 2  \
22  022-14-110398  BS(CS)  Muhammad Abdullah  20      7      6

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
22               7            7          NaN                  7.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
22                  34.0       23       57.0     F         yes           No
('Muhammad Ali Iqbal', '26')
    Student Code  Degree        Student_Name Mid Quiz 1 Quiz 2  \
23  022-14-19983  BS(CS)  Muhammad Ali Iqbal  26      5    NaN

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
23               5            8           10                 10.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
23                  41.0       21       62.0     C         yes           No
('Muhammad Bilal', '28')
     Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
24  022-14-110215  BS(CS)  Muhammad Bilal  28      5      4               5

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
24            9           11                 11.0                  44.0

   Final_50  Total_100 Grade True_values False_values
24       33       77.0     B         yes           No
('Muhammad Faraz', '26')
     Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
25  022-14-110105  BS(CS)  Muhammad Faraz  26      9      6               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
25            8           10                 10.0                  45.0

   Final_50  Total_100 Grade True_values False_values
25       41       86.0     A         yes           No
('Muhammad Ghazali Faridi', '27')
     Student Code  Degree             Student_Name Mid Quiz 1 Quiz 2  \
26  022-14-110370  BS(CS)  Muhammad Ghazali Faridi  27      6    NaN

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
26               6            6            8                  8.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
26                  41.0       24       65.0     C         yes           No
('Muhammad Osama Khan', '27')
     Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
27  022-14-110452  BS(CS)  Muhammad Osama Khan  27      8      6

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
27               8            8           10                 10.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
27                  45.0       26       71.0     B         yes           No
('Muhammad Saqib Intizar', '22')
     Student Code  Degree            Student_Name Mid Quiz 1 Quiz 2  \
28  022-14-110387  BS(CS)  Muhammad Saqib Intizar  22      6      6

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
28               6            9           11                 11.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
28                  39.0       18       57.0     F         yes           No
('Muhammad Shahroz Khurshid', '17')
     Student Code  Degree               Student_Name Mid Quiz 1 Quiz 2  \
29  022-14-110217  BS(CS)  Muhammad Shahroz Khurshid  17      7      1

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
29               7            6          NaN                  6.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
29                  30.0        9       39.0     F         yes           No
('Muhammad Shozab', '23')
     Student Code  Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
30  022-14-110401  BS(CS)  Muhammad Shozab  23      8      6               8

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
30            9          NaN                  9.0                  40.0

   Final_50  Total_100 Grade True_values False_values
30       32       72.0     B         yes           No
('Muhammad Taha Hasnain', '27')
     Student Code  Degree           Student_Name Mid Quiz 1 Quiz 2  \
31  022-14-110231  BS(CS)  Muhammad Taha Hasnain  27      7      5

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
31               7           10          NaN                 10.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
31                  44.0       29       73.0     B         yes           No
('Muhammad Wajahat Khan', '9')
     Student Code  Degree           Student_Name Mid Quiz 1 Quiz 2  \
32  022-14-110035  BS(CS)  Muhammad Wajahat Khan   9    NaN      2

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
32               2            8           10                 10.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
32                  21.0        8       29.0     F         yes           No
('Muhammad Younus Baig', '20')
    Student Code  Degree          Student_Name Mid Quiz 1 Quiz 2  \
33  022-14-19919  BS(CS)  Muhammad Younus Baig  20      4      2

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
33               4            8           10                 10.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values

33                  34.0       17       51.0     F         yes           No
('Nazeer Bin Zafar', '25')
     Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
34  022-14-110413  BS(CS)  Nazeer Bin Zafar  25      9      6               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
34            8           10                 10.0                  44.0

   Final_50  Total_100 Grade True_values False_values
34       42       86.0     A         yes           No
('Rabi Ahmed', '20')
    Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
35  022-14-19923  BS(CS)   Rabi Ahmed  20      8      5               8

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
35          NaN           10                 10.0                  38.0

   Final_50  Total_100 Grade True_values False_values
35       28       66.0     C         yes           No
('Rida Nasim', '25')
     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
36  022-14-110582  BS(CS)   Rida Nasim  25      9      5               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
36            9          NaN                  9.0                  43.0

   Final_50  Total_100 Grade True_values False_values
36       27       70.0     B         yes           No
('Sadaf Nosheen', '27')
     Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
37  022-14-110230  BS(CS)  Sadaf Nosheen  27      9      5               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
37            9          NaN                  9.0                  45.0

   Final_50  Total_100 Grade True_values False_values
37       30       75.0     B         yes           No
('Sadaquat Rafique', '9')
     Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
38  022-14-110229  BS(CS)  Sadaquat Rafique   9      6      6               6

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
38            5            7                  7.0                  22.0

   Final_50  Total_100 Grade True_values False_values
38       17       39.0     F         yes           No
('Sania Iqbal', '28')
     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
39  022-14-110107  BS(CS)  Sania Iqbal  28      4      4               4

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
39            9           11                 11.0                  43.0

   Final_50  Total_100 Grade True_values False_values
39      NaN        NaN     C         yes           No
('Shariqa Ahmad', '20')
     Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
41  022-14-110225  BS(CS)  Shariqa Ahmad  20      7      6               7

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
41            8           10                 10.0                  37.0

   Final_50  Total_100 Grade True_values False_values
41       20       57.0     F         yes           No
('Sumbul Rehman', '28')
     Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
42  022-14-110587  BS(CS)  Sumbul Rehman  28      5      6               6

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
42            8           10                 10.0                  44.0

   Final_50  Total_100 Grade True_values False_values
42       23       67.0     C         yes           No
('Syed Faizan Uddin', '28')
     Student Code  Degree       Student_Name Mid Quiz 1 Quiz 2  \
43  022-14-110451  BS(CS)  Syed Faizan Uddin  28      9      4

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
43               9            6            8                  8.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
43                  45.0       34       79.0     B         yes           No
('Syed Sohaib', '25')
     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
44  022-14-110589  BS(CS)  Syed Sohaib  25      7      5               7

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
44            9          NaN                  9.0                  41.0

   Final_50  Total_100 Grade True_values False_values
44       22       63.0     C         yes           No
('Syeda Sabika Raza', '27')
     Student Code  Degree       Student_Name Mid Quiz 1 Quiz 2  \
45  022-14-110400  BS(CS)  Syeda Sabika Raza  27      9      6

   Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
45               9            9          NaN                  9.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
45                  45.0       35       80.0     A         yes           No
('Usman Khan', '25')
    Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
46  022-14-19911  BS(CS)   Usman Khan  25      8      5               8

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
46            8           10                 10.0                  43.0

   Final_50  Total_100 Grade True_values False_values
46       22       65.0     C         yes           No
('Waqar Ahmed', '11')
     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
47  022-14-110219  BS(CS)  Waqar Ahmed  11      9      5               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
47            5          NaN                  NaN                   NaN

   Final_50  Total_100 Grade True_values False_values
47      NaN       46.0     F         yes           No

In [55]:
#convert into list
list(a)

[(('#NAME?', '27'),
       Student Code Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  40  022-14-110584    NaN       #NAME?  27      9      6               9

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  40            8           10                 10.0                  46.0

     Final_50  Total_100 Grade True_values False_values
  40       35        NaN     A         yes           No  ),
 (('Abdul Basit', 'not avalible'),
     Student Code  Degree Student_Name           Mid Quiz 1 Quiz 2  \
  0  022-14-19987  BS(CS)  Abdul Basit  not avalible      8   Null

    Best of Quizzes Assignment_1  Assignment 2  Best of Assignments  \
  0               8            7  not avalible                  9.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  0                  45.0       25       70.0     B         yes           No  ),
 (('Adeel Ahmed', '17'),
      Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  1  022-14-110233  BS(CS)  Adeel Ahmed  17    NaN      5               5

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  1            8           10                 10.0                  32.0

    Final_50  Total_100 Grade True_values False_values
  1       18       50.0     F         yes           No  ),
 (('Afrah Zareen', '18'),
      Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  2  022-14-110585  BS(CS)  Afrah Zareen  18   Null      2               5

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  2            8           10                 10.0                  33.0

    Final_50  Total_100 Grade True_values False_values
  2       30       63.0     C         yes     avalible  ),
 (('Ahmed Ali Raza', '14'),
     Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  3  022-14-19718  BS(CS)  Ahmed Ali Raza  14      7      2               7

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  3          NaN            2                  2.0                  23.0

    Final_50  Total_100 Grade True_values False_values
  3      NaN       46.0     F         yes           No  ),
 (('Ahsan Ali Vohra', '27'),
      Student Code Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  4  022-14-110648    NaN  Ahsan Ali Vohra  27      7      6               7

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  4            7            9                  9.0                  43.0

    Final_50  Total_100 Grade True_values False_values
  4       34       77.0     B         yes           No  ),
 (('Ameer Hamza', '25'),
      Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  5  022-14-110232  BS(CS)  Ameer Hamza  25      9      6               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  5            8           10                 10.0                  44.0

    Final_50  Total_100 Grade True_values False_values
  5       27       71.0     B         yes           No  ),
 (('Anas Ali Khan', '28'),
      Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  6  022-14-110588  BS(CS)  Anas Ali Khan  28      5      6            Null

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  6            8           10                 10.0                  44.0

    Final_50  Total_100 Grade True_values False_values
  6       30       74.0     B         yes           No  ),
 (('Aneebullah Niazi', '26'),
      Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  7  022-14-110388  BS(CS)  Aneebullah Niazi  26      9      6               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  7            8           10                 10.0                  45.0

    Final_50  Total_100 Grade True_values False_values
  7       40       85.0     A         yes           No  ),
 (('Areesha Sohail', '19'),
      Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  8  022-14-110601  BS(CS)  Areesha Sohail  19      9      4               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  8            7            9                  9.0                  37.0

    Final_50  Total_100 Grade True_values False_values
  8     Null       61.0     C         yes           No  ),
 (('Arsalan', '28'),
      Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  9  022-14-110599  BS(CS)      Arsalan  28    NaN      6               8

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  9            8          NaN                  8.0                  44.0

    Final_50  Total_100 Grade True_values False_values
  9       40       84.0     A         yes           No  ),
 (('Fatima Haider Warsi', '30'),
       Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
  10  022-14-110214  BS(CS)  Fatima Haider Warsi  30      8      7

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  10               8            8          NaN                  8.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  10                  46.0       45       91.0     A         yes           No  ),
 (('Habib Ullah', '28'),
       Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  11  022-14-110591  BS(CS)  Habib Ullah  28      8      5               8

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  11         Null          NaN                  NaN                  41.0

     Final_50  Total_100 Grade True_values False_values
  11       35       76.0     B         yes           No  ),
 (('Hafiza Tooba Akbani', '23'),
       Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
  12  022-15-110994  BS(CS)  Hafiza Tooba Akbani  23      7      5

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  12               7            8           10                 10.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  12                  40.0       33       73.0     B         yes           No  ),
 (('Hamza Abdul Jabbar', '24'),
       Student Code  Degree        Student_Name Mid Quiz 1 Quiz 2  \
  13  022-14-110600  BS(CS)  Hamza Abdul Jabbar  24      8      4

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  13               8            8           10                 10.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  13                  42.0       25       67.0     C         yes           No  ),
 (('Hareem Afshan', '21'),
       Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  14  022-14-110389  BS(CS)  Hareem Afshan  21      7      4               7

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  14            6            8                  8.0                  36.0

     Final_50  Total_100 Grade True_values False_values
  14       29       65.0     C         yes           No  ),
 (('Haseeb Sajid', '18'),
      Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  15  022-14-19916  BS(CS)  Haseeb Sajid  18    NaN    NaN               0

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  15          NaN        null                   0.0                  18.0

     Final_50  Total_100 Grade True_values False_values
  15      NaN       18.0     F         yes           No  ),
 (('Hassam Ahmed', '23'),
       Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  16  022-14-110596  BS(CS)  Hassam Ahmed  23      5      5               5

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  16            7            9                  9.0                  37.0

     Final_50  Total_100 Grade True_values False_values
  16       35       72.0     B         yes           No  ),
 (('Khalid Anwer', '20'),
       Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  17  022-14-110396  BS(CS)  Khalid Anwer  20      8      5               8

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  17            9           11                 11.0                  39.0

     Final_50  Total_100 Grade True_values False_values
  17       31       70.0     B         yes           No  ),
 (('Madiha Jabeen', '16'),
       Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  18  022-14-110223  BS(CS)  Madiha Jabeen  16      5      2            Null

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  18          NaN           10                 10.0                  31.0

     Final_50  Total_100 Grade True_values False_values
  18       29       60.0     C         yes           No  ),
 (('Mohammad Hunain', '27'),
       Student Code  Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  19  022-14-110222  BS(CS)  Mohammad Hunain  27      9      6               9

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  19            8           10                 10.0                  46.0

     Final_50  Total_100 Grade True_values False_values
  19       45       91.0     A         yes           No  ),
 (('Muhammad Aamir', '24'),
       Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  20  022-14-110412  BS(CS)  Muhammad Aamir  24      7      6               7

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  20            7            9                  9.0                  40.0

     Final_50  Total_100 Grade True_values False_values
  20       31       71.0     B         yes           No  ),
 (('Muhammad Abdul Rehman Siddiqui', '20'),
       Student Code  Degree                    Student_Name Mid Quiz 1 Quiz 2  \
  21  022-14-110593  BS(CS)  Muhammad Abdul Rehman Siddiqui  20      9      6

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  21               9            9           11                 11.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  21                  40.0       20       60.0     C         yes           No  ),
 (('Muhammad Abdullah', '20'),
       Student Code  Degree       Student_Name Mid Quiz 1 Quiz 2  \
  22  022-14-110398  BS(CS)  Muhammad Abdullah  20      7      6

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  22               7            7          NaN                  7.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  22                  34.0       23       57.0     F         yes           No  ),
 (('Muhammad Ali Iqbal', '26'),
      Student Code  Degree        Student_Name Mid Quiz 1 Quiz 2  \
  23  022-14-19983  BS(CS)  Muhammad Ali Iqbal  26      5    NaN

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  23               5            8           10                 10.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  23                  41.0       21       62.0     C         yes           No  ),
 (('Muhammad Bilal', '28'),
       Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  24  022-14-110215  BS(CS)  Muhammad Bilal  28      5      4               5

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  24            9           11                 11.0                  44.0

     Final_50  Total_100 Grade True_values False_values
  24       33       77.0     B         yes           No  ),
 (('Muhammad Faraz', '26'),
       Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  25  022-14-110105  BS(CS)  Muhammad Faraz  26      9      6               9

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  25            8           10                 10.0                  45.0

     Final_50  Total_100 Grade True_values False_values
  25       41       86.0     A         yes           No  ),
 (('Muhammad Ghazali Faridi', '27'),
       Student Code  Degree             Student_Name Mid Quiz 1 Quiz 2  \
  26  022-14-110370  BS(CS)  Muhammad Ghazali Faridi  27      6    NaN

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  26               6            6            8                  8.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  26                  41.0       24       65.0     C         yes           No  ),
 (('Muhammad Osama Khan', '27'),
       Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
  27  022-14-110452  BS(CS)  Muhammad Osama Khan  27      8      6

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  27               8            8           10                 10.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  27                  45.0       26       71.0     B         yes           No  ),
 (('Muhammad Saqib Intizar', '22'),
       Student Code  Degree            Student_Name Mid Quiz 1 Quiz 2  \
  28  022-14-110387  BS(CS)  Muhammad Saqib Intizar  22      6      6

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  28               6            9           11                 11.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  28                  39.0       18       57.0     F         yes           No  ),
 (('Muhammad Shahroz Khurshid', '17'),
       Student Code  Degree               Student_Name Mid Quiz 1 Quiz 2  \
  29  022-14-110217  BS(CS)  Muhammad Shahroz Khurshid  17      7      1

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  29               7            6          NaN                  6.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  29                  30.0        9       39.0     F         yes           No  ),
 (('Muhammad Shozab', '23'),
       Student Code  Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  30  022-14-110401  BS(CS)  Muhammad Shozab  23      8      6               8

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  30            9          NaN                  9.0                  40.0

     Final_50  Total_100 Grade True_values False_values
  30       32       72.0     B         yes           No  ),
 (('Muhammad Taha Hasnain', '27'),
       Student Code  Degree           Student_Name Mid Quiz 1 Quiz 2  \
  31  022-14-110231  BS(CS)  Muhammad Taha Hasnain  27      7      5

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  31               7           10          NaN                 10.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  31                  44.0       29       73.0     B         yes           No  ),
 (('Muhammad Wajahat Khan', '9'),
       Student Code  Degree           Student_Name Mid Quiz 1 Quiz 2  \
  32  022-14-110035  BS(CS)  Muhammad Wajahat Khan   9    NaN      2

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  32               2            8           10                 10.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  32                  21.0        8       29.0     F         yes           No  ),
 (('Muhammad Younus Baig', '20'),
      Student Code  Degree          Student_Name Mid Quiz 1 Quiz 2  \
  33  022-14-19919  BS(CS)  Muhammad Younus Baig  20      4      2

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
  33               4            8           10                 10.0

      Total Sessional (50) Final_50  Total_100 Grade True_values False_values
  33                  34.0       17       51.0     F         yes           No  ),
 (('Nazeer Bin Zafar', '25'),
       Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  34  022-14-110413  BS(CS)  Nazeer Bin Zafar  25      9      6               9

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  34            8           10                 10.0                  44.0

     Final_50  Total_100 Grade True_values False_values
  34       42       86.0     A         yes           No  ),
 (('Rabi Ahmed', '20'),
      Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  35  022-14-19923  BS(CS)   Rabi Ahmed  20      8      5               8

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  35          NaN           10                 10.0                  38.0

     Final_50  Total_100 Grade True_values False_values
  35       28       66.0     C         yes           No  ),
 (('Rida Nasim', '25'),
       Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  36  022-14-110582  BS(CS)   Rida Nasim  25      9      5               9

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  36            9          NaN                  9.0                  43.0

     Final_50  Total_100 Grade True_values False_values
  36       27       70.0     B         yes           No  ),
 (('Sadaf Nosheen', '27'),
       Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  37  022-14-110230  BS(CS)  Sadaf Nosheen  27      9      5               9

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  37            9          NaN                  9.0                  45.0

     Final_50  Total_100 Grade True_values False_values
  37       30       75.0     B         yes           No  ),
 (('Sadaquat Rafique', '9'),
       Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  38  022-14-110229  BS(CS)  Sadaquat Rafique   9      6      6               6

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  38            5            7                  7.0                  22.0

     Final_50  Total_100 Grade True_values False_values
  38       17       39.0     F         yes           No  ),
 (('Sania Iqbal', '28'),
       Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  39  022-14-110107  BS(CS)  Sania Iqbal  28      4      4               4

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  39            9           11                 11.0                  43.0

     Final_50  Total_100 Grade True_values False_values
  39      NaN        NaN     C         yes           No  ),
 (('Shariqa Ahmad', '20'),
       Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  41  022-14-110225  BS(CS)  Shariqa Ahmad  20      7      6               7

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  41            8           10                 10.0                  37.0

     Final_50  Total_100 Grade True_values False_values
  41       20       57.0     F         yes           No  ),
 (('Sumbul Rehman', '28'),
       Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
  42  022-14-110587  BS(CS)  Sumbul Rehman  28      5      6               6

     Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
  42            8           10                 10.0                  44.0

     Final_50  Total_100 Grade True_values False_values
  42       23       67.0     C         yes           No  ),
 (('Syed Faizan Uddin', '28'),
       Student Code  Degree       Student_Name Mid Quiz 1 Quiz 2  \
  43  022-14-110451  BS(CS)  Syed Faizan Uddin  28      9      4

     Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \

In [57]:
#convert into dict
dict(list(a))

{('#NAME?',
  '27'):      Student Code Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 40  022-14-110584    NaN       #NAME?  27      9      6               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 40            8           10                 10.0                  46.0

    Final_50  Total_100 Grade True_values False_values
 40       35        NaN     A         yes           No  ,
 ('Abdul Basit',
  'not avalible'):    Student Code  Degree Student_Name           Mid Quiz 1 Quiz 2  \
 0  022-14-19987  BS(CS)  Abdul Basit  not avalible      8   Null

   Best of Quizzes Assignment_1  Assignment 2  Best of Assignments  \
 0               8            7  not avalible                  9.0

    Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 0                  45.0       25       70.0     B         yes           No  ,
 ('Adeel Ahmed',
  '17'):     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 1  022-14-110233  BS(CS)  Adeel Ahmed  17    NaN      5               5

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 1            8           10                 10.0                  32.0

   Final_50  Total_100 Grade True_values False_values
 1       18       50.0     F         yes           No  ,
 ('Afrah Zareen',
  '18'):     Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 2  022-14-110585  BS(CS)  Afrah Zareen  18   Null      2               5

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 2            8           10                 10.0                  33.0

   Final_50  Total_100 Grade True_values False_values
 2       30       63.0     C         yes     avalible  ,
 ('Ahmed Ali Raza',
  '14'):    Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 3  022-14-19718  BS(CS)  Ahmed Ali Raza  14      7      2               7

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 3          NaN            2                  2.0                  23.0

   Final_50  Total_100 Grade True_values False_values
 3      NaN       46.0     F         yes           No  ,
 ('Ahsan Ali Vohra',
  '27'):     Student Code Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 4  022-14-110648    NaN  Ahsan Ali Vohra  27      7      6               7

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 4            7            9                  9.0                  43.0

   Final_50  Total_100 Grade True_values False_values
 4       34       77.0     B         yes           No  ,
 ('Ameer Hamza',
  '25'):     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 5  022-14-110232  BS(CS)  Ameer Hamza  25      9      6               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 5            8           10                 10.0                  44.0

   Final_50  Total_100 Grade True_values False_values
 5       27       71.0     B         yes           No  ,
 ('Anas Ali Khan',
  '28'):     Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 6  022-14-110588  BS(CS)  Anas Ali Khan  28      5      6            Null

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 6            8           10                 10.0                  44.0

   Final_50  Total_100 Grade True_values False_values
 6       30       74.0     B         yes           No  ,
 ('Aneebullah Niazi',
  '26'):     Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 7  022-14-110388  BS(CS)  Aneebullah Niazi  26      9      6               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 7            8           10                 10.0                  45.0

   Final_50  Total_100 Grade True_values False_values
 7       40       85.0     A         yes           No  ,
 ('Areesha Sohail',
  '19'):     Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 8  022-14-110601  BS(CS)  Areesha Sohail  19      9      4               9

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 8            7            9                  9.0                  37.0

   Final_50  Total_100 Grade True_values False_values
 8     Null       61.0     C         yes           No  ,
 ('Arsalan',
  '28'):     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 9  022-14-110599  BS(CS)      Arsalan  28    NaN      6               8

   Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 9            8          NaN                  8.0                  44.0

   Final_50  Total_100 Grade True_values False_values
 9       40       84.0     A         yes           No  ,
 ('Fatima Haider Warsi',
  '30'):      Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
 10  022-14-110214  BS(CS)  Fatima Haider Warsi  30      8      7

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 10               8            8          NaN                  8.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 10                  46.0       45       91.0     A         yes           No  ,
 ('Habib Ullah',
  '28'):      Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 11  022-14-110591  BS(CS)  Habib Ullah  28      8      5               8

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 11         Null          NaN                  NaN                  41.0

    Final_50  Total_100 Grade True_values False_values
 11       35       76.0     B         yes           No  ,
 ('Hafiza Tooba Akbani',
  '23'):      Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
 12  022-15-110994  BS(CS)  Hafiza Tooba Akbani  23      7      5

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 12               7            8           10                 10.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 12                  40.0       33       73.0     B         yes           No  ,
 ('Hamza Abdul Jabbar',
  '24'):      Student Code  Degree        Student_Name Mid Quiz 1 Quiz 2  \
 13  022-14-110600  BS(CS)  Hamza Abdul Jabbar  24      8      4

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 13               8            8           10                 10.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 13                  42.0       25       67.0     C         yes           No  ,
 ('Hareem Afshan',
  '21'):      Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 14  022-14-110389  BS(CS)  Hareem Afshan  21      7      4               7

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 14            6            8                  8.0                  36.0

    Final_50  Total_100 Grade True_values False_values
 14       29       65.0     C         yes           No  ,
 ('Haseeb Sajid',
  '18'):     Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 15  022-14-19916  BS(CS)  Haseeb Sajid  18    NaN    NaN               0

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 15          NaN        null                   0.0                  18.0

    Final_50  Total_100 Grade True_values False_values
 15      NaN       18.0     F         yes           No  ,
 ('Hassam Ahmed',
  '23'):      Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 16  022-14-110596  BS(CS)  Hassam Ahmed  23      5      5               5

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 16            7            9                  9.0                  37.0

    Final_50  Total_100 Grade True_values False_values
 16       35       72.0     B         yes           No  ,
 ('Khalid Anwer',
  '20'):      Student Code  Degree  Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 17  022-14-110396  BS(CS)  Khalid Anwer  20      8      5               8

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 17            9           11                 11.0                  39.0

    Final_50  Total_100 Grade True_values False_values
 17       31       70.0     B         yes           No  ,
 ('Madiha Jabeen',
  '16'):      Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 18  022-14-110223  BS(CS)  Madiha Jabeen  16      5      2            Null

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 18          NaN           10                 10.0                  31.0

    Final_50  Total_100 Grade True_values False_values
 18       29       60.0     C         yes           No  ,
 ('Mohammad Hunain',
  '27'):      Student Code  Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 19  022-14-110222  BS(CS)  Mohammad Hunain  27      9      6               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 19            8           10                 10.0                  46.0

    Final_50  Total_100 Grade True_values False_values
 19       45       91.0     A         yes           No  ,
 ('Muhammad Aamir',
  '24'):      Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 20  022-14-110412  BS(CS)  Muhammad Aamir  24      7      6               7

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 20            7            9                  9.0                  40.0

    Final_50  Total_100 Grade True_values False_values
 20       31       71.0     B         yes           No  ,
 ('Muhammad Abdul Rehman Siddiqui',
  '20'):      Student Code  Degree                    Student_Name Mid Quiz 1 Quiz 2  \
 21  022-14-110593  BS(CS)  Muhammad Abdul Rehman Siddiqui  20      9      6

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 21               9            9           11                 11.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 21                  40.0       20       60.0     C         yes           No  ,
 ('Muhammad Abdullah',
  '20'):      Student Code  Degree       Student_Name Mid Quiz 1 Quiz 2  \
 22  022-14-110398  BS(CS)  Muhammad Abdullah  20      7      6

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 22               7            7          NaN                  7.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 22                  34.0       23       57.0     F         yes           No  ,
 ('Muhammad Ali Iqbal',
  '26'):     Student Code  Degree        Student_Name Mid Quiz 1 Quiz 2  \
 23  022-14-19983  BS(CS)  Muhammad Ali Iqbal  26      5    NaN

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 23               5            8           10                 10.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 23                  41.0       21       62.0     C         yes           No  ,
 ('Muhammad Bilal',
  '28'):      Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 24  022-14-110215  BS(CS)  Muhammad Bilal  28      5      4               5

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 24            9           11                 11.0                  44.0

    Final_50  Total_100 Grade True_values False_values
 24       33       77.0     B         yes           No  ,
 ('Muhammad Faraz',
  '26'):      Student Code  Degree    Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 25  022-14-110105  BS(CS)  Muhammad Faraz  26      9      6               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 25            8           10                 10.0                  45.0

    Final_50  Total_100 Grade True_values False_values
 25       41       86.0     A         yes           No  ,
 ('Muhammad Ghazali Faridi',
  '27'):      Student Code  Degree             Student_Name Mid Quiz 1 Quiz 2  \
 26  022-14-110370  BS(CS)  Muhammad Ghazali Faridi  27      6    NaN

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 26               6            6            8                  8.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 26                  41.0       24       65.0     C         yes           No  ,
 ('Muhammad Osama Khan',
  '27'):      Student Code  Degree         Student_Name Mid Quiz 1 Quiz 2  \
 27  022-14-110452  BS(CS)  Muhammad Osama Khan  27      8      6

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 27               8            8           10                 10.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 27                  45.0       26       71.0     B         yes           No  ,
 ('Muhammad Saqib Intizar',
  '22'):      Student Code  Degree            Student_Name Mid Quiz 1 Quiz 2  \
 28  022-14-110387  BS(CS)  Muhammad Saqib Intizar  22      6      6

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 28               6            9           11                 11.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 28                  39.0       18       57.0     F         yes           No  ,
 ('Muhammad Shahroz Khurshid',
  '17'):      Student Code  Degree               Student_Name Mid Quiz 1 Quiz 2  \
 29  022-14-110217  BS(CS)  Muhammad Shahroz Khurshid  17      7      1

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 29               7            6          NaN                  6.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 29                  30.0        9       39.0     F         yes           No  ,
 ('Muhammad Shozab',
  '23'):      Student Code  Degree     Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 30  022-14-110401  BS(CS)  Muhammad Shozab  23      8      6               8

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 30            9          NaN                  9.0                  40.0

    Final_50  Total_100 Grade True_values False_values
 30       32       72.0     B         yes           No  ,
 ('Muhammad Taha Hasnain',
  '27'):      Student Code  Degree           Student_Name Mid Quiz 1 Quiz 2  \
 31  022-14-110231  BS(CS)  Muhammad Taha Hasnain  27      7      5

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 31               7           10          NaN                 10.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 31                  44.0       29       73.0     B         yes           No  ,
 ('Muhammad Wajahat Khan',
  '9'):      Student Code  Degree           Student_Name Mid Quiz 1 Quiz 2  \
 32  022-14-110035  BS(CS)  Muhammad Wajahat Khan   9    NaN      2

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 32               2            8           10                 10.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 32                  21.0        8       29.0     F         yes           No  ,
 ('Muhammad Younus Baig',
  '20'):     Student Code  Degree          Student_Name Mid Quiz 1 Quiz 2  \
 33  022-14-19919  BS(CS)  Muhammad Younus Baig  20      4      2

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 33               4            8           10                 10.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 33                  34.0       17       51.0     F         yes           No  ,
 ('Nazeer Bin Zafar',
  '25'):      Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 34  022-14-110413  BS(CS)  Nazeer Bin Zafar  25      9      6               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 34            8           10                 10.0                  44.0

    Final_50  Total_100 Grade True_values False_values
 34       42       86.0     A         yes           No  ,
 ('Rabi Ahmed',
  '20'):     Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 35  022-14-19923  BS(CS)   Rabi Ahmed  20      8      5               8

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 35          NaN           10                 10.0                  38.0

    Final_50  Total_100 Grade True_values False_values
 35       28       66.0     C         yes           No  ,
 ('Rida Nasim',
  '25'):      Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 36  022-14-110582  BS(CS)   Rida Nasim  25      9      5               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 36            9          NaN                  9.0                  43.0

    Final_50  Total_100 Grade True_values False_values
 36       27       70.0     B         yes           No  ,
 ('Sadaf Nosheen',
  '27'):      Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 37  022-14-110230  BS(CS)  Sadaf Nosheen  27      9      5               9

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 37            9          NaN                  9.0                  45.0

    Final_50  Total_100 Grade True_values False_values
 37       30       75.0     B         yes           No  ,
 ('Sadaquat Rafique',
  '9'):      Student Code  Degree      Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 38  022-14-110229  BS(CS)  Sadaquat Rafique   9      6      6               6

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 38            5            7                  7.0                  22.0

    Final_50  Total_100 Grade True_values False_values
 38       17       39.0     F         yes           No  ,
 ('Sania Iqbal',
  '28'):      Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 39  022-14-110107  BS(CS)  Sania Iqbal  28      4      4               4

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 39            9           11                 11.0                  43.0

    Final_50  Total_100 Grade True_values False_values
 39      NaN        NaN     C         yes           No  ,
 ('Shariqa Ahmad',
  '20'):      Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 41  022-14-110225  BS(CS)  Shariqa Ahmad  20      7      6               7

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 41            8           10                 10.0                  37.0

    Final_50  Total_100 Grade True_values False_values
 41       20       57.0     F         yes           No  ,
 ('Sumbul Rehman',
  '28'):      Student Code  Degree   Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \
 42  022-14-110587  BS(CS)  Sumbul Rehman  28      5      6               6

    Assignment_1 Assignment 2  Best of Assignments  Total Sessional (50)  \
 42            8           10                 10.0                  44.0

    Final_50  Total_100 Grade True_values False_values
 42       23       67.0     C         yes           No  ,
 ('Syed Faizan Uddin',
  '28'):      Student Code  Degree       Student_Name Mid Quiz 1 Quiz 2  \
 43  022-14-110451  BS(CS)  Syed Faizan Uddin  28      9      4

    Best of Quizzes Assignment_1 Assignment 2  Best of Assignments  \
 43               9            6            8                  8.0

     Total Sessional (50) Final_50  Total_100 Grade True_values False_values
 43                  45.0       34       79.0     B         yes           No  ,
 ('Syed Sohaib',
  '25'):      Student Code  Degree Student_Name Mid Quiz 1 Quiz 2 Best of Quizzes  \

# get_group():
    - is me group by function  bus us values ko lata hai jo is me defined hoti hain.

In [75]:
d1=data.groupby("Degree").get_group("BS(CS)")
d1

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

# axis : 
    -{0 or 'index', 1 or 'columns'}, 
    - default 0
    - Split along rows (0) or columns (1).

In [99]:
mid=data.groupby(("Mid"),axis=1)  # columns wise split...

In [100]:
mid.groups

{}

In [101]:
mid=data.groupby(("Mid"),axis=0)  # columns wise split...

In [102]:
mid.groups

{'11': Int64Index([47], dtype='int64'),
 '14': Int64Index([3], dtype='int64'),
 '16': Int64Index([18], dtype='int64'),
 '17': Int64Index([1, 29], dtype='int64'),
 '18': Int64Index([2, 15], dtype='int64'),
 '19': Int64Index([8], dtype='int64'),
 '20': Int64Index([17, 21, 22, 33, 35, 41], dtype='int64'),
 '21': Int64Index([14], dtype='int64'),
 '22': Int64Index([28], dtype='int64'),
 '23': Int64Index([12, 16, 30], dtype='int64'),
 '24': Int64Index([13, 20], dtype='int64'),
 '25': Int64Index([5, 34, 36, 44, 46], dtype='int64'),
 '26': Int64Index([7, 23, 25], dtype='int64'),
 '27': Int64Index([4, 19, 26, 27, 31, 37, 40, 45], dtype='int64'),
 '28': Int64Index([6, 9, 11, 24, 39, 42, 43], dtype='int64'),
 '30': Int64Index([10], dtype='int64'),
 '9': Int64Index([32, 38], dtype='int64'),
 'not avalible': Int64Index([0], dtype='int64')}

# Statical Functions
- sum()
- Mean
- max

In [104]:
data.groupby("Mid").sum()

              Best of Assignments  Total Sessional (50)  Total_100
Mid
11                            0.0                   0.0       46.0
14                            2.0                  23.0       46.0
16                           10.0                  31.0       60.0
17                           16.0                  62.0       89.0
18                           10.0                  51.0       81.0
19                            9.0                  37.0       61.0
20                           59.0                 222.0      361.0
21                            8.0                  36.0       65.0
22                           11.0                  39.0       57.0
23                           28.0                 117.0      217.0
24                           19.0                  82.0      138.0
25                           48.0                 215.0      355.0
26                           30.0                 131.0      233.0
27                           75.0                 355.0      532.0
28                           58.0                 305.0      457.0
30                            8.0                  46.0       91.0
9                            17.0                  43.0       68.0
not avalible                  9.0                  45.0       70.0

In [105]:
data.groupby("Mid").mean()

              Best of Assignments  Total Sessional (50)  Total_100
Mid
11                            NaN                   NaN  46.000000
14                       2.000000             23.000000  46.000000
16                      10.000000             31.000000  60.000000
17                       8.000000             31.000000  44.500000
18                       5.000000             25.500000  40.500000
19                       9.000000             37.000000  61.000000
20                       9.833333             37.000000  60.166667
21                       8.000000             36.000000  65.000000
22                      11.000000             39.000000  57.000000
23                       9.333333             39.000000  72.333333
24                       9.500000             41.000000  69.000000
25                       9.600000             43.000000  71.000000
26                      10.000000             43.666667  77.666667
27                       9.375000             44.375000  76.000000
28                       9.666667             43.571429  76.166667
30                       8.000000             46.000000  91.000000
9                        8.500000             21.500000  34.000000
not avalible             9.000000             45.000000  70.000000

In [106]:
data.groupby("Mid").max()

,Student Code,Student_Name,Best of Quizzes,Best of Assignments,Total Sessional (50),Total_100,Grade,True_values,False_values
Mid,,,,,,,,,
11,022-14-110219,Waqar Ahmed,9,NaN,NaN,46.0,F,yes,No
14,022-14-19718,Ahmed Ali Raza,7,2.0,23.0,46.0,F,yes,No
16,022-14-110223,Madiha Jabeen,Null,10.0,31.0,60.0,C,yes,No
17,022-14-110233,Muhammad Shahroz Khurshid,7,10.0,32.0,50.0,F,yes,No
18,022-14-19916,Haseeb Sajid,5,10.0,33.0,63.0,F,yes,avalible
19,022-14-110601,Areesha Sohail,9,9.0,37.0,61.0,C,yes,No
20,022-14-19923,Shariqa Ahmad,9,11.0,40.0,70.0,F,yes,No
21,022-14-110389,Hareem Afshan,7,8.0,36.0,65.0,C,yes,No
22,022-14-110387,Muhammad Saqib Intizar,6,11.0,39.0,57.0,F,yes,No
23,022-15-110994,Muhammad Shozab,8,10.0,40.0,73.0,B,yes,No
24,022-14-110600,Muhammad Aamir,8,10.0,42.0,71.0,C,yes,No
25,022-14-19911,Usman Khan,9,10.0,44.0,86.0,C,yes,No
26,022-14-19983,Muhammad Faraz,9,10.0,45.0,86.0,C,yes,No
27,022-14-110648,Syeda Sabika Raza,9,10.0,46.0,91.0,C,yes,No
28,022-14-110599,Syed Faizan Uddin,Null,11.0,45.0,84.0,C,yes,No
30,022-14-110214,Fatima Haider Warsi,8,8.0,46.0,91.0,A,yes,No
9,022-14-110229,Sadaquat Rafique,6,10.0,22.0,39.0,F,yes,No
not avalible,022-14-19987,Abdul Basit,8,9.0,45.0,70.0,B,yes,No

In [117]:
data.describe()

       Best of Assignments  Total Sessional (50)  Total_100
count            46.000000             47.000000  46.000000
mean              9.065217             39.148936  65.804348
std               2.069913              7.037103  15.397864
min               0.000000             18.000000  18.000000
25%               9.000000             37.000000  60.000000
50%              10.000000             41.000000  68.500000
75%              10.000000             44.000000  74.750000
max              11.000000             46.000000  91.000000

# Group size
  - ye har coloum ka size bta dy ga