In [2]:
import numpy as np
import pandas as pd

# LOC:
    - it is use to acsess by label or boolean array
    -Single label
    - more than labels

In [9]:
data=pd.read_csv('D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv')
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9,6,9,8,10,10.0,46.0,35,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

In [11]:
data.loc[1]

Student Code            022-14-110233
Degree                         BS(CS)
Student_Name              Adeel Ahmed
Mid                                17
Quiz 1                            NaN
Quiz 2                              5
Best of Quizzes                     5
Assignment_1                        8
Assignment 2                       10
Best of Assignments                10
Total Sessional (50)               32
Final_50                           18
Total_100                          50
Grade                               F
True_values                       yes
False_values                       No
Name: 1, dtype: object

In [13]:
#by slicing
data.loc[1:2]

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible

In [14]:
# fancy indexing///
data.loc[[0,4]]

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No

In [15]:
#index with column....
data.loc[3,"Mid"]

'14'

In [18]:
data.loc[0:6,"Grade"]

0    B
1    F
2    C
3    F
4    B
5    B
6    B
Name: Grade, dtype: object

In [22]:
#boolean vaues....
data.loc[[False,False,False,True]]

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No

In [35]:
#conditional values//
data.loc[data["Total_100"]>=50]

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No

In [40]:
data.loc[data["Total_100"]>40,"Mid"]
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9,6,9,8,10,10.0,46.0,35,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

# ILOC
- integer location-Based indexing.
- Coloum wise print kry ga

In [42]:
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9,6,9,8,10,10.0,46.0,35,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

In [45]:
data.iloc[2]

Student Code            022-14-110585
Degree                         BS(CS)
Student_Name             Afrah Zareen
Mid                                18
Quiz 1                           Null
Quiz 2                              2
Best of Quizzes                     5
Assignment_1                        8
Assignment 2                       10
Best of Assignments                10
Total Sessional (50)               33
Final_50                           30
Total_100                          63
Grade                               C
True_values                       yes
False_values                 avalible
Name: 2, dtype: object

In [49]:
#fancy values

data.iloc[[0,3]]

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No

In [51]:
data.iloc[0,1:4]

Degree                BS(CS)
Student_Name     Abdul Basit
Mid             not avalible
Name: 0, dtype: object